@import "tailwindcss";

:root {
  --background-color: #212123;
  --text: #f6f6f6;
  --primary-color: #7858c3;
  --secondary-color: #4d3d73;
  --secondary-background: #2a2a2b;
  --secondary-text: #d6d6d6;
  --unavailable-text: #979797;
  --danger: #e65454;
  --success: #1cae82;
}

@theme inline {
  --color-background: var(--background-color);
  --color-foreground: var(--text);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212123;
    --text: #f6f6f6;
  }
}
body {
  background: var(--background-color);
  color: var(--text);
}

h2 {
  font-size: 1.35rem;
  font-weight: 600;
  line-height: 120%;
}

h3 {
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 120%;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 120%;
}

.h1-lp {
  font-size: 4rem;
  line-height: 110%;
}

.h2-lp {
  font-size: 2rem;
}

.h3-lp {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

input {
  height: 3rem;
  border: var(--text) 1px solid;
  padding: 1rem;
}
.auth-form {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main {
  max-width: 80rem;
  margin: auto;
  padding: 3rem;
  padding-top: 6rem;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}
.swiper-pagination-bullet {
  background-color: var(--unavailable-text) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
